#container {
  margin: auto;
  padding: 0px;
  width: 85%;
}

#form {
  background: #f8fbfd;
  border-radius: 10px;
  padding: 30px 45px;
  width: 90%;
  height: fit-content;
}

.form-question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #0b2594;
}

.form-input,
.form-input:focus {
  background-color: inherit;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #0b2594;
  width: 85%;
}

#btn {
  background: #0b2594;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  margin-top: 45px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  transition: none;
}

.btn:hover {
  color: #fff !important;
  text-decoration: none;
}

#rightSection {
  background-color: #f8fbfd;
  height: 100vh;
  padding: 30px 40px;
}

.textHead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #0b2594;
}

.lorem-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: justify;
  color: #828282;
}

.completionText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #1b1f3d;
}

.progress {
  height: 5px;
  width: 95px;
  border-radius: 94px;
}

.form-control {
  background: #ffffff;
  border-radius: 5px;
  height: 40px;
}
